main {
  margin: 0 auto;
}

body {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #F0F0F0;
}

.container {
  background-color: #F0F0F0;
  margin: 0 autox;
  padding: 0px 25px 20px;
}

h1 {
  font-family: trade-gothic-next-compressed, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  margin: 0px;
  padding: 0px;
}

.title-container h1 {
  text-align: center;
  border-bottom: 1px solid black;
}

h2 {
  font-family: trade-gothic-next-compressed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  margin: 0px;
  padding: 5px 0px;
}

h3 {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
}

h4 {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

b {
  h3 {
    font-family: trade-gothic-next, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
  }
}

p {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
}

footer p, a {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

.border {
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}

.skills {
  display: flex;
}

.proficient {
  margin-right: 30px;
}

/* iPad */
@media only screen and (min-width:500px) and (max-width:768px) {
  body {
    background-color: white;
  }

  .container {
    width: 700px;
    margin: 0 auto;
  }

  .content-container {
    display: flex;
  }
}

/* Desktop*/
@media only screen and (min-width:769px) {
  .container {
    width: 1024px;
    margin: 0 auto;
    width: 80%;
  }

  .content-container {
    display: flex;
  }

  body {
    background-color: white;
  }
}
