body {
  color: #121212;
  background-color: #F4F4F4;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  display:block;
  color: #000000;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  text-align: center;
  border: 2px solid;
  border-radius: 8px;
}

a:hover {
  color: #5C5C5C;
  text-decoration: underline;
}

.container {
  width: 768px;
  margin-right: auto;
  margin-left: auto;
}

.title-container {
  font-family: industry-inc-base, sans-serif;
  font-weight: 400;
  font-style: normal;
}
