body {
  font-family: Book Antiqua, sans-serif;
  color: #FFFFFF;
  background: lightgray;
}

a {
  color: #FFFFFF;
}

.container {
  background-image: url('background.png');
  width: 768px;
  margin-right: auto;
  margin-left: auto;
}

.main-copy {
  font-family: Book Antiqua, serif;
  font-style: normal;
  font-size: 16px;
  display: flex;
}

.main-copy #para-one {
  width: 50%;
  height: content;
}

.main-copy #para-one strong {
  font-family: "baroque-text-jf", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 30px;
}

.main-copy #para-two {
  width: 50%;
  height: content;
}

.letter-set {
  height: 80px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: hidden;
  overflow-x: scroll;
  font-family: 'baroque-text-jf', serif;
  font-size: 50px;
  letter-spacing: 19px;
  font-weight: 400;
  color: #FFC788;
  background: linear-gradient(to right,
      #FFC788,
      #FFD7AB,
      #FFC788);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border: 1px solid #C98F4F;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #C98F4F;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #BE8342;
}

.large-letter-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #C98F4F;
}

.large-letter-group h1 {
  width: 325px;
  height: 325px;
  font-size: 300px;
  font-weight: 400;
  font-family: 'baroque-text-jf', serif;
}

.letter-analysis {
  visibility: hidden;
}

.letter-analysis.visible {
  visibility:visible;
}

.large-letter-group .x-button button {
  color: transparent;
  width: 150px;
  height: 80px;
}

.large-letter-group .x-button img {
}

footer {
  display: flex;
  margin-top: 0px;
}

footer .sources-section {
  width: 50%;
  margin-left: 30px;
}

footer .source-section h4 {
  font-size: 16px;
  margin-bottom: 0px;
}

footer .source-section p {
  font-size: 14px;
  line-height: 5px;
}

footer .name-and-major {
  display: flex;
}

footer .author-heading {
  width: content;
  height: 90px;
  line-height: 5px;
}

.author-heading h4, h6 {
  text-align: right;
}

footer img {
  height: 100px;
}
