body {
  margin: 0px;
  padding: 0px;
}

.outer-wrapper {
  width: 100vh;
  height: 38000px;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}

.wrapper {
  display: flex;
  position: relative;
  right: 0px;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: row;
  width: 3800px;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.container {
  height: 768px;
  width: 38000px;
  display: flex;
  position: absolute;
  background-image: url('background-image-fixed.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
  height: 30px;
  width: 300px;
  border: solid 2px;
  border-radius: 8px;
}

.welcome {
  position: absolute;
  top: 0px;
  left: 300px;
  z-index: 2;
  height: 50px;
  width: 300px;
  background: white;
  opacity: 50%;
}

.title {
  text-align: center;
  padding: 10px;
  margin: 0px;
}

.info-snackbar {
  position: absolute;
  z-index: 3;
  top: 50px;
  left: 0px;
  height: 30px;
  width: 300px;
  background-color: green;
}

.introduction.invisible {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.introduction {
  opacity: 1
}

.celestial-body {
  display: flex;
  position:
    absolute;
}

.sun-container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: 768px;
  width: 1700px;
  background-image: url('sun-vector-img.png');
  background-repeat: no-repeat;
}

.mercury-container {
  position: absolute;
  top: 353px;
  left: 909px;
  z-index: 2;
  height: 768px;
  width: 31px;
}

.venus-container {
  position: absolute;
  top: 347px;
  left: 1211px;
  z-index: 1;
  height: 768px;
  width: 75px;
}

.earth-container {
  position: absolute;
  top: 344px;
  left: 1470px;
  z-index: 1;
  height: 768px;
  width: 80px;
}

.earth-container img {
  transform: rotate(23deg);
}

.mars-container {
  position: absolute;
  top: 363px;
  left: 1956px;
  z-index: 1;
  height: 768px;
  width: 42px;
}

.astro-belt-container {
  position: absolute;
  top: 0px;
  left: 2496px;
  z-index: 1;
  height: 768px;
  width: 2500px;
  background: gray;
  opacity: 50%;
}

.jupiter-container {
  position: absolute;
  top: 0px;
  left: 5378px;
  z-index: 1;
  height: 768px;
  width: 888px;
}

.saturn-container {
  position: absolute;
  top: 10px;
  left: 9447px;
  z-index: 1;
  height: 768px;
  width: 749px;
}

.uranus-container {
  position: absolute;
  top: 225px;
  left: 18380px;
  z-index: 1;
  height: 768px;
  width: 318px;
}

.neptune-container {
  position: absolute;
  top: 230px;
  left: 28470px;
  z-index: 1;
  height: 768px;
  width: 308px;
}

.kupier-belt-container {
  position: absolute;
  top: 0px;
  left: 27880px;
  z-index: 1;
  height: 768px;
  width: 308px;
  background: gray;
  opacity: 50%;
}

.kupier-belt-container {
  position: absolute;
  top: 0px;
  left: 36701px;
  z-index: 1;
  height: 768px;
  width: 1299px;
  background: gray;
  opacity: 50%;
}

.pluto-container {
  position: absolute;
  top: 377px;
  left: 37241px;
  z-index: 1;
  height: 768px;
  width: 14px;
}
