.outer-wrapper {
  width: 100vh;
  height: 38000px;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}

.wrapper {
  display: flex;
  position: relative;
  right: 0px;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: row;
  width: 3800px;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.container {
  height: 768px;
  width: 38000px;
  margin-top: 8vh;
  margin-bottom: 8vh;
  display: flex;
  position: absolute;
  background-image: url('background-image-fixed.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.welcome {
  position: absolute;
  top: 0px;
  left: 555px;
  z-index: 2;
  height: 60px;
  width: 300px;
}

.title {
  text-align: center;
  padding: 10px;
  margin: 0px;
}

.intro-container {
  position: absolute;
  z-index: 3;
  top: 60px;
  left: 0px;
  height: 768px;
  width: 300px;
  background-color: white;
  opacity: 0.5;
}

.sun-container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: 768px;
  width: 500px;
  background-color: yellow;
  opacity: 0.5;
}

.mercury-container {
  position: absolute;
  top: 353px;
  left: 909px;
  z-index: 2;
  height: 768px;
  width: 31px;
  background-color: darkgoldenrod;
  opacity: 0.5;
}

.venus-container {
  position: absolute;
  top: 347px;
  left: 1211px;
  z-index: 1;
  height: 768px;
  width: 75px;
  background-color: orange;
  opacity: 0.5;
}

.earth-container {
  position: absolute;
  top: 344px;
  left: 1470px;
  z-index: 1;
  height: 768px;
  width: 80px;
  background-color: green;
  opacity: 0.5;
}

.mars-container {
  position: absolute;
  top: 363px;
  left: 1956px;
  z-index: 1;
  height: 768px;
  width: 42px;
  background-color: red;
  opacity: 0.5;
}

.astro-belt-container {
  position: absolute;
  top: 0px;
  left: 2496px;
  z-index: 1;
  height: 768px;
  width: 2500px;
  background-color: gray;
  opacity: 0.5;
}

.jupiter-container {
  position: absolute;
  top: 0px;
  left: 5378px;
  z-index: 1;
  height: 768px;
  width: 888px;
  background-color: tan;
  opacity: 0.5;
}

.saturn-container {
  position: absolute;
  top: 10px;
  left: 9447px;
  z-index: 1;
  height: 768px;
  width: 749px;
  background-color: burlywood;
  opacity: 0.5;
}

.uranus-container {
  position: absolute;
  top: 225px;
  left: 18380px;
  z-index: 1;
  height: 768px;
  width: 318px
  background-color: aliceblue;
  opacity: 0.5;;
}

.neptune-container {
  position: absolute;
  top: 230px;
  left: 28470px;
  z-index: 1;
  height: 768px;
  width: 308px;
  background-color: darkblue;
  opacity: 0.5;
}

.kupier-belt-container {
  position: absolute;
  top: 0px;
  left: 36701px;
  z-index: 1;
  height: 768px;
  width: 1299px;
  background-color: gray;
  opacity: 0.5;
}

.pluto-container {
  position: absolute;
  top: 377px;
  left: 37241px;
  z-index: 2;
  height: 768px;
  width: 14px;
  background-color: brown;
  opacity: 0.5;
}
